div {
   background-color:rgb(30, 0, 202);
   color: yellow;
   display: flex;
   justify-content: space-between;
   margin: 0px 40px 0px 40px;
}

#container{
    margin: 50px 400px 0px 400px;
    justify-content: block;
}