<div id="container" class="card">
  <h1>Iniciar Sesion</h1>
  <h2>Ingrese sus datos</h2>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="divlogin">
    <label for="email">Correo electrónico</label>
    <input id="email" name="email" type="email" id="email" ngModel #email="ngModel" required="true" autocomplete="email">
    @if (email.invalid && !email.pristine) {
        <p class="error">Debe colocar un correo electrónico válido.</p>
      }
  </div>

  <div class="divlogin">
    <label for="password">Contraseña</label>
    <input id="password" name="password" type="password" ngModel #password="ngModel" minlength="4" autocomplete="current-password">
     @if (password.invalid && !password.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
      }
  </div>
  <div class="login-button-container">
    <button>Iniciar sesión</button>
    @if(isLoading) {
        <app-spinner></app-spinner>
    }
</div>
  @if (errorLogin) {
    <p class="errorSesion">Datos de sesión incorrectos, intente nuevamente.</p>
  } 
  <p>¿No tenés cuenta? <a routerLink="/register">Registrate</a></p>
</form>

</div>